.card {
  &:hover {
    transition: all .2s ease-in-out;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px #007bff;
    -moz-box-shadow: 0px 0px 5px 0px #007bff;
    box-shadow: 0px 0px 5px 0px #007bff;
    border: 1px solid #007bff;
  }
}