.card-icon {
  font-size: 8rem;
  margin: auto;
  display: block;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (min-width: 768px) {
    font-size: 4.5rem;
  }

  @media (min-width: 1200px) {
    font-size: 6rem;
  }
}
