.navbar {
  .navbar-brand {
    img {
      max-height: 28px;
      margin-right: 8px;
    }
  }
}

.main-content {
  
}

.btn {
  font-family: Roboto-Medium;
}

.footer {
  position: absolute;
  bottom: 16px;
  width: 100%;
  text-align: center;
}