.navbar {
  .navbar-brand {
    img {
      max-height: 28px;
      margin-right: 8px;
    }
  }
}

.btn {
  font-family: Roboto-Medium;
}

.footer {
  width: 100%;
  text-align: center;
}

.card-icon {
  font-size: 8rem;
  margin: auto;
  display: block;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (min-width: 768px) {
    font-size: 4.5rem;
  }
}

.card-icon {
  font-size: 8rem;
  margin: auto;
  display: block;
  margin-bottom: 24px;

  /*@media (max-width: 768px) {
    font-size: 2rem;
  }*/

  @media (min-width: 1px) {
    font-size: 2rem;
  }

  @media (min-width: 576px) {
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

.success-icon {
  font-size: 5rem;
}